{% extends "base.html" %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>

{% block footer %}
{% endblock footer %}
