{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
  </div>
  </div>
{% endblock %}
