{% block content %}
<div class="text-center"><h2>{{instance.name}}</h2></div>
{% if  instance.children.all %}
  <h4>Sub Categories</h4>
  {% for i in instance.children.all %}
      <a href="{{ i.slug }}"> {{ i.name }} </a><br>
  {% endfor %}

  <br><hr>
{% endif %}

{% if  instance.furniture_set.all %}
{% for i in instance.furniture_set.all %}
<h4>Furnitures</h4>
<div class="row small-up-1 medium-up-3" >

 <div class="column">
  <a href="{{ i.slug }}">
    <div class="card" style="width: 300px; border-color: black">
       <div class="card-divider">
         <strong>{{ i.name | truncatechars:30}}</strong>
       </div>
    </div>
  </a>
 </div>
{% endfor %}

{% endif %}
</div>
{% endblock content %}
