{% extends 'base.html' %} {% load static namify %} {% block css %} {{block.super}}
<link rel="stylesheet" href="{%static 'css/style-3.css'%}">
<link rel="stylesheet" href="{%static 'css/product-details-1.css'%}"> {% endblock css %} {% block content %}
<section id="product-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <!-- bootstrap carousel -->
        <div class="wrapper">
          <div id="carousel-product" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-product" data-slide-to="0" class="active">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </li>
              <li data-target="#carousel-product" data-slide-to="1">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </li>
              <li data-target="#carousel-product" data-slide-to="2">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </li>
              <li data-target="#carousel-product" data-slide-to="3">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </li>
              <li data-target="#carousel-product" data-slide-to="4">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </li>
            </ol>
            <!-- /Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <!-- Carousel 1 -->
              <div class="item active">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </div>
              <!-- /Carousel 1 -->
              <!-- Carousel 2 -->
              <div class="item">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </div>
              <!-- /Carousel 2 -->
              <!-- Carousel 3 -->
              <div class="item">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </div>
              <!-- /Carousel 3 -->
              <!-- Carousel 4 -->
              <div class="item">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </div>
              <!-- /Carousel 4 -->
              <!-- Carousel 5 -->
              <div class="item">
                <img src="{% static 'img/4niture.jpg' %}" alt="themesnerd" class="img-responsive">
              </div>
              <!-- /Carousel 5 -->
            </div>
            <!-- /Wrapper for slides -->
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-product" role="button" data-slide="prev">
                                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
            <a class="right carousel-control" href="#carousel-product" role="button" data-slide="next">
                                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
            <!-- /Controls -->
          </div>
        </div>
        <!-- /bootstrap carousel -->
      </div>
      <!-- Product Details -->
      <div class="col-md-6 col-sm-12">
        <div class="product-content">
          <a href="#"><span class="product-tag exclusive">Exclusive</span></a>
          <h3 class="product-title"> {{ furniture.name }}</h3>
          <h2 class="product-price"><del>$ 119.99</del><span class="promo-price">$ 90.99</span></h2> {% include 'includes/carts/update-cart.html' with furniture=furniture cart=cart %}
          <div class="product-description">
            <p>When Sadi Ozis first designed the Fishnet chair in Turkey in 1959 it was ahead of its time. Today, its timeless character is evident. Sadi Ozis wove fishnet between the bent tubular steel framework, using innovation due to the lack of available materials due to the Second World War.</p>
            <h4 class="sub-title">Additional Information</h4>
            <p>Sadi’s son Neptun has worked with Walter Knoll on the reissue, featuring an upholstered seat and back. A sculpturual design, authentic and still holding it’s iconic charm.</p>
            <h5 class="sub-title">Materials</h5>
            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
            <h5 class="sub-title">Dimensions</h5>
            <p>H 840 x W 660 x D 680 (SH 450) mm.</p>
          </div>
        </div>
      </div>
      <!-- /Product Details -->
    </div>
  </div>
</section>
{% endblock content %} {% block js %} {{block.super}}
<script src="{% static 'js/product-details.js' %}"></script>
{% endblock js %}