{% extends 'base.html' %}
{% load static %}
{% block css %}
	{{block.super}}
	<link rel="stylesheet" href="{%static 'css/furnitures/furnitures.css'%}">
{% endblock css %}

{% block content %}
<section id="furnitures">
  <div class="container">
    <div class="row">
			<div class="col-md-3">
				{% include 'furnitures/includes/categories_sidebar.html' with nodes=categories %}
			</div>
      <div class="col-md-9 col-sm-12">
				<h4><strong>Furnitures</strong></h4>
				<div class="product">
					{% for furniture in furnitures %}
					<div class="product-card">
						<div class="product-image">
							<img src="{{furniture.first_image}}" alt="" />
						</div>
						<div class="product-info">
							<h5>{{ furniture.name }}</h5>
							<h6><del>{{ furniture.old_price }}</del> Rs.{{ furniture.price }}</h6>
						</div>
						<div class="add-to-cart">
							{% include 'includes/carts/update-cart.html' with furniture=furniture cart=cart size="btn-sm"%}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			{% include 'includes/pagination.html' with obj=furnitures %}
		</div>
	</div>
</section>
{% endblock content %}

{% block js %}
	{{block.super}}
	<script type="text/javascript">
	$(document).ready(function(){
		var productCard = $('.product-card');
    productCard.hover(function(){
        $(this).find('.add-to-cart').addClass('show');
        }, function(){
        $(this).find('.add-to-cart').removeClass('show');
    });
	});
	</script>
{% endblock js %}
