{% load static %}
<section id="products">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 section-heading-wrap text-center">
                <h2 class="section-heading">New Furniture Arrival</h2>
                <h4 class="section-subheading">Home to the Finest Interior Design Products in the World</h4>
            </div>
        </div>
          {% for furniture in furnitures %}
      		{% if forloop.first %}
					<div class="row">
						{% endif %}
          <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
            <figure class="wow fadeIn">
              {% if furniture.image %}
                <img class="img-responsive" src={{ furniture.image.url }} alt="furniture">
                {% else %}
                <img class="img-responsive" src={% static 'img/4niture.jpg' %} alt="furniture">
                {% endif %}
                <figcaption>
                    <a href="{% url 'furniture' furniture.slug%}">
                        <h5 class="product-title">{{ furniture.name }}</h5>
                        <h4 class="product-price"><del>{{ furniture.old_price}}</del><span class="promo-price">Rs. {{furniture.price}}</span></h4>
                        <p class="product-details">{{ furniture.gist }}</p>
                    </a>
                </figcaption>
            </figure>
					</div>
            {% if forloop.counter|divisibleby:4 %}
					</div>
            <div class="row">{%endif %}
              {% if forloop.last %}
            </div>
      		{% endif %}
      		{% endfor %}
        </div>
    </div>
</section>
