{% load static %}
<div class="row quick-view product-main">
  <div class="col-sm-6">
    <div class="quick-view-main-image">
      <img src="{% static 'img/slide1.jpg' %}" alt="" class="img-responsive">
    </div>
    <div class="ribbon ribbon-quick-view sale">
      <div class="theribbon">SALE</div>
      <div class="ribbon-background"></div>
    </div>
    <!-- /.ribbon -->
    <div class="ribbon ribbon-quick-view new">
      <div class="theribbon">NEW</div>
      <div class="ribbon-background"></div>
    </div>
    <!-- /.ribbon -->
    <div class="row thumbs">
      <div class="col-xs-4">
        <a href="{% static 'img/slide1.jpg' %}" class="thumb active">
        <img src="{% static 'img/slide1.jpg' %}" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-4">
        <a href="{% static 'img/slide1.jpg' %}" class="thumb">
        <img src="{% static 'img/slide1.jpg' %}" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-4">
        <a href="{% static 'img/slide1.jpg' %}" class="thumb">
        <img src="{% static 'img/slide1.jpg' %}" alt="" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h2>{{ furniture.name }}</h2>
    <p class="text-muted text-small text-center">
      {{ furniture.gist }}
    </p>
    <div class="box">
      <form>
        <div class="sizes">
          <h3>Available sizes</h3>
          <label for="size_s">
          <a href="#">S</a>
          <input type="radio" id="size_s" name="size" value="s" class="size-input">
          </label>
          <label for="size_m">
          <a href="#">M</a>
          <input type="radio" id="size_m" name="size" value="m" class="size-input">
          </label>
          <label for="size_l">
          <a href="#">L</a>
          <input type="radio" id="size_l" name="size" value="l" class="size-input">
          </label>
        </div>
			</form>
        <p class="price">$124.00</p>
        <p class="text-center">
					{% include 'includes/carts/update-cart.html' with furniture=furniture cart=cart %}
          </button>
        </p>
    </div>
  </div>
  <div class="quick-view-social">
    <h4>Show it to your friends</h4>
    <p>
      <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
      <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
      <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
    </p>
  </div>
</div>
