body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin: 0 0 15px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* a {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-decoration: none;
  outline: none;
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
} */

a:hover {
  text-decoration: none;
}

.logo {
  line-height: 30px;
}

/* .navbar-collapse {
  float: none;
} */

.navbar-cart {
  padding: 6px 12px !important;
}

.sub-navbar #submenu {
  padding: 5px 20px;
}

.account-info i {
  font-size: 2.3rem;
  margin: 8px;
}

.btn-success {
  color: #fff;
  background-color: #17a2b8!important;
  border-color: #17a2b8!important;
}

.card-footer .view-more, .card-footer .quick-view {
  color: #fff !important;
}

.card-footer .view-more {
  background: #000 !important;
  border-color: #000 !important;
}

.autocomplete-suggestions li.list-group-item {
  border: none;
  border-radius: 0 !important;
}

.autocomplete-suggestions li.list-group-item:hover {
  background: #f8f9fa;
}

li.list-group-item strong {
  color: #17a2b8!important;
}

.cart-info {
  margin-top: -10px;
}

.cart-quantity {
  background-color: #009688;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 20px;
  z-index: 2;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

/* cart css */

.cart-table .table {
  position: relative;
  z-index: 9;
}

.cart_product_img {
  width: 100px;
}

.cart-table .table td, .cart-table .table th {
  border-top: 1px solid #e9ecef;
  padding: 12px;
  padding: 12px;
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

.cart-table .cart_product_desc h5 {
  font-size: 14px;
  margin: 0;
}

.cart-table .qty-minus, .cart-table .qty-plus {
  background-color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.cart-table .qty-minus i, .cart-table .qty-plus i {
  line-height: 30px;
  font-size: 10px;
}

.cart-table .qty-text {
  background-color: #f6f6f6;
  border: medium none;
  display: inline-block;
  height: 30px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  text-align: center;
  font-size: 12px;
}

.cart-table .quantity {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.cart-table .price span, .cart-table .total_price>span, .cart-table .action>a {
  font-size: 14px;
}

.cart_area .update-checkout a, .cart_area .back-to-shop a {
  background-color: #f6f6f6;
  border-radius: 5px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  min-width: 150px;
  padding: 0 15px;
  text-align: center;
}

.cart_area .update-checkout a:first-child {
  background-color: #00BCD4 !important;
  color: #fff !important;
}

.cart_area .update-checkout a:last-child {
  background-color: #009688 !important;
  color: #fff !important;
}

.cart_area .update-checkout a:first-child:hover, .cart_area .update-checkout a:last-child:hover {
  background-color: #000;
  color: #fff !important;
}

i.ion-ios-close-outline.remove {
  font-size: 30px !important;
  color: #000 !important;
}

/* checkout page */

.table {
  display: table;
  z-index: 9;
  position: absolute;
  width: 100%;
  height: auto !important;
  margin: 0;
}

.cart-table .table {
  position: relative;
  z-index: 9;
}

.cart_product_img {
  width: 100px;
}

.cart-table .table td, .cart-table .table th {
  border-top: 1px solid #e9ecef;
  padding: 12px;
  padding: 12px;
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

.cart-table .cart_product_desc h5 {
  font-size: 14px;
  margin: 0;
}

.cart-table .qty-minus, .cart-table .qty-plus {
  background-color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.cart-table .qty-minus i, .cart-table .qty-plus i {
  font-size: 30px;
}

.cart-table .qty-text {
  background-color: #f6f6f6;
  border: medium none;
  display: inline-block;
  height: 30px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  text-align: center;
  font-size: 12px;
}

.cart-table .quantity {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.cart-table .price span, .cart-table .total_price>span, .cart-table .action>a {
  font-size: 14px;
}

.cart_product_img img {
  width: 76px;
  height: 76px;
}

.checkout_details_area label {
  font-size: 14px;
  font-weight: 700;
}

.checkout_details_area .form-control {
  font-size: 13px;
  font-weight: 300;
}

.checkout_details_area .panel-body>p {
  font-size: 14px;
  margin: 0;
}

.checkout_details_area .edit-btn {
  border: 1px solid #ddd;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 15px;
}

.checkout_pagination {
  text-align: right;
}

.checkout_pagination a {
  background-color: #f6f6f6;
  border-radius: 5px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  min-width: 150px;
  text-align: center;
}

.checkout_pagination a:last-child {
  background-color: #17a2b8;
  color: #fff !important;
}

.checkout_pagination a:last-child:hover {
  background-color: #009688;
  color: #fff;
}

.checkout-1 p {
  font-size: 14px;
}

/* brand */

.brand-info.user_thumb, .brand-info.cart {
  position: relative;
  z-index: 999;
  transition-duration: 500ms;
}

.brand-info.cart:hover {
  display: block;
  top: 35px;
}

.user_thumb {
  height: 45px;
  width: 45px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 150, 136);
  border-image: initial;
  border-radius: 50%;
}

.user-meta-dropdown {
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: -10px;
  text-align: left;
  top: 60px;
  display: none;
  width: 150px;
  z-index: 99999;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  border-radius: 3px;
  padding: 15px;
}

.user-meta-dropdown .user-title {
  font-size: 14px;
}

.user-meta-dropdown .user-title span {
  font-weight: 400;
}

.user_thumb:hover .user-meta-dropdown {
  display: block;
  top: 35px;
}

.user-meta-dropdown li {
  margin: 18px 0;
}
