/* Product Details CSS */

#product-details {
    padding-top: 120px;
}
#product-details .product-content {
    margin-top: 30px;
    padding-left: 30px;
}
#product-details .product-title {
    font-weight: 300;
}
#product-details .product-price {
    font-size: 42px;
    margin-bottom: 30px;
}
#product-details .product-description {
    margin-top: 50px;
}
#product-details .product-price del {
    opacity: .5;
    margin-right: 30px;
    font-weight: 300;
}
#product-details .promo-price {
    color: #e53935;
}
/* Sections Responsive CSS */
/* Desktop & Laptop */

@media (min-width: 1040px) {
    #product-details .product-content {
        padding-left: 60px;
    }
}
/* Tablet Portrait */

@media (max-width: 970px) {
    #product-details {
        padding-top: 90px;
    }
    #product-details .product-content {
        margin-top: 130px;
    }
}
/* Phone */

@media (max-width: 490px) {
    #product-details .product-price {
        font-size: 36px;
    }
}
@media (max-width: 400px) {
    #product-details .product-price del,
    #product-details .product-price .promo-price {
        position: relative;
        float: left;
        width: 100%;
    }
    #product-details .product-price .promo-price {
        margin-bottom: 30px;
    }
}
/* Product Details Carousel CSS */

.carousel .carousel-inner img,
.carousel-indicators li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-control {
    color: #8c8c8c;
    bottom: -60px;
    top: 100%;
    width: 70px;
    height: 70px;
    font-size: 34px;
    padding: 12px;
    z-index: 99;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
    background: transparent;
}
.carousel-indicators {
    bottom: -75px;
}
.carousel-indicators li,
.carousel-indicators li.active {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
}
.carousel-indicators li {
    opacity: .3;
}
.carousel-indicators li.active {
    opacity: 1;
    background: #8c8c8c;
    padding: 2px;
}
/* Sections Responsive CSS */
/* Phone */

@media (max-width: 490px) {
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 40px;
        height: 40px;
    }
    .carousel-indicators {
        bottom: -55px;
    }
    .carousel-control {
        bottom: -20px;
        font-size: 24px;
        padding: 3px;
        width: 40px;
        height: 40px;
    }
}
/* Related Product CSS */

#related-products {
    background: #F9F9F9;
}
#related-products .section-heading-wrap {
    margin-bottom: 30px;
}
#related-products .btn-ghost {
    margin-top: 15px;
}
#related-products .btn-ghost .fa {
    margin: 0px;
}
#related-products a {
    color: #262C30;
}
#related-products figure {
    margin-bottom: 30px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#related-products figure:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#related-products figure figcaption {
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.01);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#related-products figure:hover figcaption {
    background: rgba(0, 0, 0, 0.0);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#related-products .product-price del {
    opacity: .5;
    margin-right: 20px;
}
#related-products .promo-price {
    color: #e53935;
}