/*----
Theme Primary Color: #262C30
Theme Secondery Color: #8c8c8c
 -----*/
/* ---Body Default Color & Background---  */

body {
    overflow-x: hidden;
    color: #262C30;
    webkit-tap-highlight-color: #262C30;
}
::-moz-selection {
    text-shadow: none;
    background: #262C30;
    color: #ffffff;
}
::selection {
    text-shadow: none;
    background: #262C30;
    color: #ffffff;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
/* Typhography */

body,
div {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a,
a:focus,
a:hover,
a:active,
a.active {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    opacity: .85;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 36px;
    line-height: 42px;
}
h3 {
    font-size: 28px;
    line-height: 34px;
}
h4 {
    font-size: 22px;
    line-height: 28px;
}
h5 {
    font-size: 18px;
    line-height: 24px;
}
h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}
.title-lg {
    font-size: 62px;
    line-height: 74px;
}
.text-muted {
    color: #777;
}
/* ---Typhography Responsive--- */

@media(max-width: 970px) {
    .title-lg {
        font-size: 48px;
        line-height: 62px;
    }
}
/* ---Clearfix---  */

.clear,
.clearfix {
    clear: both;
}
.no-margin {
    margin: 0px;
}
.no-padding {
    padding: 0px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* listing */

.list-inline>li>p,
.list-inline>li>a {
    width: 100%;
}
/* modal */

.modal-content {
    background: #f9f9f9;
}
/* ---Buttons---  */

button {
    outline: 0;
}
.btn {
    font-size: 1.25rem;
    text-transform: uppercase;
    /*letter-spacing: 3px;*/
    border-radius: 50px;
    padding: 12px 32px;
    font-weight: 700;
    border: 0px;
    border: 1px solid transparent;
    background: #fff;
    color: #262C30;
    outline: 0;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}

.btn.active {
    box-shadow: none;
}
.btn-sm {
		font-size: 1.2rem;
		padding: 8px 12px;
		letter-spacing: 0
}
.btn-sm:hover,
.btn-sm:focus,
.btn-sm:active {
    font-size: 1.2rem;
}
.btn-lg {
    font-size: 2rem;
    padding: 16px 38px;
}
.btn-xl {
    font-size: 2.5rem;
    padding: 18px 42px;
}
.btn-outline {
    color: #262C30;
    border-color: #262C30;
    background: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #262C30;
}
.btn-action {
    color: #ffffff !important;
    background: #e53935;
}
.btn .fa {
    margin-left: 5px;
}
.btn-icon-only {
    padding: 12px;
    background: #fff;
    color: #262C30;
}
.btn-icon-only .fa {
    margin: 0px !important;
    letter-spacing: 0;
}
.open .dropdown-toggle.btn-xl {
    border-color: #262C30;
    color: #fff;
    background-color: #262C30;
}
.btn:hover,
.btn:focus,
.btn:active {
    background: #fff;
    color: #262C30;
    border: 1px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
.btn:hover .fa {
    margin-left: 20px;
}
.btn-icon-only:hover .fa {
    margin-left: 0px;
}
.btn-action:hover{
    color: #262C30 !important;
}
@media (max-width: 650px) {
    .btn-lg {
        font-size: 1.5rem;
        padding: 12px 32px;
    }
    .btn-xl {
        font-size: 2rem;
        padding: 16px 38px;
    }
}
/* ---Input Field--- */

input.form-control,
textarea {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0px;
    padding: 24px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #dfdfdf;
    width: 100%;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
input.form-control:hover,
textarea:hover {
    border: 2px solid transparent;
    color: #262C30;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19) !important;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
input.form-control:focus,
input.form-control:active,
textarea:focus,
textarea:active {
    border: 2px solid #262C30;
    color: #262C30;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19) !important;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
*:focus {
    outline: 0;
}
/*---- Navbar -----*/
/* Brand Logo */

.brand-logo img {
    width: auto;
    height: 40px;
    margin-left: 16px;
}
.top-nav-collapse .brand-logo {
    margin-top: -5px;
    height: 30px;
}
.top-nav-collapse {
    padding: 0;
    z-index: 50000;
}
@media(min-width: 1040px) {
    .brand-logo {
        margin-top: -10px;
    }
}
@media(max-width:1040px) {
    .brand-logo {
        margin-top: 0px;
    }
}
@media(max-width:768px) {
    .brand-logo {
        margin-top: -5px;
    }
}
/* Default Navbar CSS Reset */

nav.navbar-default {
    border-color: transparent;
    background-color: transparent;
    margin-bottom: 0px;
    min-height: 70px;
    padding-top: 10px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
nav.nav-shrink {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav.navbar-default .navbar-nav li a,
nav.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6d6d6d;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a:hover,
nav.navbar-default .navbar-nav li a:focus,
nav.navbar-default .navbar-nav>.open>a,
nav.navbar-default .navbar-nav>.open>a:focus,
nav.navbar-default .navbar-nav>.open>a:hover,
nav.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
nav.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    outline: 0;
    color: #fff;
    background: #262C30;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
nav .navbar-nav .dropdown-menu,
nav .navbar-nav .open .dropdown-menu {
    padding-top: 0px;
    border-color: transparent;
    border-bottom: 1px solid #8c8c8c;
    border-radius: 0px;
    background-color: #fafafa;
}
nav button.btn-nav {
    width: 48px;
    height: 48px;
}
nav .form-wrap {
    margin-top: 10px;
    background: #8c8c8c;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
nav .form-wrap input,
nav .form-wrap input:hover,
nav .form-wrap input:focus,
nav .form-wrap input:active {
    color: #ffffff;
    border: 0px;
    background-color: #262C30;
}
nav .form-wrap button {
    position: relative;
    float: right;
    margin-top: -48px;
    z-index: 5000;
    width: 48px;
    height: 48px;
    background: transparent;
    border: 0px;
    color: #fff;
}
nav .form-wrap button[type="submit"] {
    display: none;
}
@media (min-width: 1200px) {
    nav.nav-shrink {
        background: #fff;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
    }
    /* navbar menu items */

    nav .dropdown-toggle b.caret {
        display: none;
    }
    nav li.dropdown:hover .dropdown-menu {
        display: block;
    }
    nav .navbar-nav .dropdown-menu > li > a {
        padding: 10px 20px;
    }
    nav .nav-bar-btn {
        position: relative;
        float: right;
        margin-left: 20px;
    }
    nav .nav-bar-btn .btn-nav {
        margin-left: 0px;
        background: transparent;
        border-radius: 0%;
        border: 0;
        width: 48px;
        height: 48px;
        padding: 14px;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
    }
    nav .nav-bar-btn .btn-nav:hover,
    nav .nav-bar-btn .btn-nav:focus,
    nav .nav-bar-btn .btn-nav:active {
        background: #262C30;
        color: #ffffff;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
    }
}
/* Navbar Collapse CSS with customized Breakpoint */

@media (max-width: 1200px) {
    nav.navbar-default {
        background-color: #fff;
    }
    /* navbar menu collapse */

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        border-width: 2px;
        border-color: #8c8c8c;
        background-color: #fdfdfd;
        padding-bottom: 30px;
    }
    .collapsing {
        overflow: hidden!important;
    }
    /* navbar menu toggle */

    .navbar-header {
        float: none;
    }
    nav.navbar-default .navbar-toggle {
        border-color: transparent;
        border-radius: 0px;
        display: block;
        width: 48px;
        height: 48px;
        padding: 12px;
        margin: 0px;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
    }
    nav.navbar-default .navbar-toggle:hover,
    nav.navbar-default .navbar-toggle:focus,
    nav.navbar-default .navbar-toggle:active {
        background-color: #8c8c8c;
        color: #ffffff;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
    }
    nav.navbar-default .navbar-toggle:hover .icon-bar,
    nav.navbar-default .navbar-toggle:focus .icon-bar,
    nav.navbar-default .navbar-toggle:active .icon-bar {
        background-color: #ffffff;
    }
    nav.navbar-default .btn-nav {
        margin-right: 5px;
    }
    nav.navbar-default .btn-nav-desktop {
        display: none;
    }
    /* navbar menu items */

    .navbar-nav {
        float: none!important;
        margin: 7px 15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 1px 0px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 2;
        color: #333;
        white-space: nowrap;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
}
/* Section CSS */

section {
    padding: 90px 0;
}
section h1.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
}
section h4.section-subheading {
    margin-bottom: 75px;
    font-weight: 300;
}
/*  Responsive CSS  */
/*  Laptop & Desktop  */

@media(min-width:1440px) {
    section {
        padding: 120px 0;
    }
}
/*  Tablet Portrait  */

@media(max-width:1040px) {
    section h1.section-heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    section h4.section-subheading {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 40px;
    }
}
/* CSS for Products Tags */

.product-tag {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}
.trending {
    color: #43A047;
}
.exclusive {
    color: #1E88E5;
}
.hot-deal {
    color: #e53935;
}
.new-fresh {
    color: #FBC02D;
}
.sale {
    color: #d32f2f;
}
@media (max-width: 480px) {
    .product-tag {
        font-size: 12px;
        line-height: 20px;
    }
}
figure img {
    width: 100%;
    height: auto;
}
/* Footer */

footer {
    padding: 25px 0;
    padding-top: 120px;
}
footer .footer-links {
    padding: 30px;
}
footer .footer-links a {
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 400;
}
footer .footer-links a:hover {
    color: #262c30;
}
footer .footer-links ul {
    padding: 0px;
}
footer .footer-links ul li {
    list-style-type: none;
}
footer .footer-links .xtra-links li {
    line-height: 30px;
}
footer #newsletter-signup {
    width: 90%;
}
footer #newsletter-signup input {
    margin-top: 30px;
}
footer #newsletter-signup button {
    position: relative;
    float: right;
    top: -50px;
    padding: 14px;
    width: 50px;
    border-radius: 0px;
    border: 0px;
    color: #fff;
}
footer #newsletter-signup button:hover {
    color: #262c30;
}
footer #newsletter-signup .btn .fa,
footer #newsletter-signup .btn:hover .fa {
    margin: 0px;
}
footer .credit {
    margin-top: 60px;
}
footer .credit .brand-credit {
    text-align: right;
}
footer .social-buttons a {
    color: #262c30;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 32px;
    outline: 0;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
footer .social-buttons a:hover {
    padding-top: 2px;
    background: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
footer .credit .brand-credit a {
    color: #262c30;
}
/*  Responsive CSS  */
/*  Tablet Landscape  */

@media (max-width: 1030px) {
    footer {
        padding: 40px 0;
        padding-top: 60px;
    }
    footer .footer-links {
        margin-top: 30px;
    }
    footer .social-buttons {
        text-align: center;
    }
    footer .social-buttons a {
        font-size: 22px;
        width: 36px;
        height: 36px;
        padding: 2px;
    }
    footer .credit .brand-credit {} footer .credit {
        margin-top: 30px;
    }
}
/*  Tablet Portrait  */

@media (max-width: 970px) {
    footer .footer-links {
        margin-top: 0px;
        padding: 10px 30px;
    }
    footer .credit .brand-credit {
        margin-top: -0px;
    }
    footer .social-buttons {
        text-align: center;
        margin-bottom: 30px;
    }
    footer .credit .brand-credit {
        text-align: right;
    }
    footer form#newsletter-signup {
        padding-bottom: 30px;
    }
}
/*  Phone Portrait  */

@media (max-width: 670px) {
    footer .credit,
    footer .credit .brand-credit {
        text-align: center;
    }
}
