<div class="container-fluid">
  <div class="row">
    <div class="container brand-info p-3">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="logo">
            <a href="/" style="color: #000;">
    				<strong style="font-size: 2.6em; font-weight: 900;">4</strong>
          <span style="font-size: 1.6em;">niture</span>
    			</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="search-container d-flex flex-row justify-content-center align-items-center">
            {% include 'search/search.html' %}
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="cart-info account-info d-flex flex-row justify-content-center align-items-center float-right">
						<div class="cart">
            	<i class="ion-ios-cart-outline px-3"></i>
								<span class="cart-quantity">{{ request.session.cart_items }}</span>
						</div>
						{% if request.user.is_authenticated %}
							<div class="user_thumb">
								<a href="#">
									<i class="ion-person"></i>
								</a>
								<ul class="user-meta-dropdown animated fadeInUp">
									<li class="user-title"><span>Hello,</span> {{ request.user.username }}</li>
									<li><a href="{% url 'carts' %}">My Profile</a></li>
									<li><a href="order-list.html">Orders List</a></li>
								</ul>
							</div>
						{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
