<div class="container-fluid px-0 mx-0">
	<div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="mainNav">
		<div class="container">
			<div class="row">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Dining</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Bedroom</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Modular Kitchen</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">4niture Special</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
			</nav>
		</div>
	</div>
</div>
