{% load static %}
<!-- *** NAVBAR ***
  _________________________________________________________ -->
<div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand home" href="index.html" style="margin-top: 9px; font-size: 1em; color: #000;">
      <strong style="font-size: 4em; font-weight: 900;">4</strong>
      <span style="font-size: 3em;">niture</span>
      </a>
      <div class="navbar-buttons">
        <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-align-justify"></i>
        </button>
        <a class="btn btn-primary navbar-toggle" href="{% url 'carts' %}">
        <i class="fa fa-shopping-cart"></i>
        <span class="hidden-xs">{{ request.session.cart_items|default:"0" }} item{{ request.session.cart_items|pluralize }} in cart</span>
        </a>
        <button type="button" class="navbar-toggle btn-default" data-toggle="collapse" data-target="#search">
        <span class="sr-only">Toggle search</span>
        <i class="fa fa-search"></i>
        </button>
        <button type="button" class="navbar-toggle btn-default" data-toggle="modal" data-target="#login-modal">
        <span class="sr-only">User login</span>
        <i class="fa fa-users"></i>
        </button>
      </div>
    </div>
    <!--/.navbar-header -->
    <div class="navbar-collapse collapse" id="navigation">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-3">
                    <img src="{% static 'img/4niture.jpg'%}" class="img-responsive hidden-xs" alt="">
                  </div>
                  <div class="col-sm-3">
                    <h3>Clothing</h3>
                    <ul>
                      <li><a href="category.html">T-shirts</a>
                      </li>
                      <li><a href="category.html">Shirts</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3>Clothing</h3>
                    <ul>
                      <li><a href="category.html">T-shirts</a>
                      </li>
                      <li><a href="category.html">Shirts</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3>Shoes</h3>
                    <ul>
                      <li><a href="category.html">Trainers</a>
                      </li>
                      <li><a href="category.html">Sandals</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer clearfix hidden-xs">
                <h4 class="pull-right">Men</h4>
                <div class="buttons pull-left">
                  <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                  <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                  <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-3">
                    <img src="{% static 'img/4niture.jpg'%}" class="img-responsive hidden-xs" alt="">
                  </div>
                  <div class="col-sm-3">
                    <h3>Clothing</h3>
                    <ul>
                      <li><a href="category.html">T-shirts</a>
                      </li>
                      <li><a href="category.html">Shirts</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3>Clothing</h3>
                    <ul>
                      <li><a href="category.html">T-shirts</a>
                      </li>
                      <li><a href="category.html">Shirts</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3>Shoes</h3>
                    <ul>
                      <li><a href="category.html">Trainers</a>
                      </li>
                      <li><a href="category.html">Sandals</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer clearfix hidden-xs">
                <h4 class="pull-right">Women</h4>
                <div class="buttons pull-left">
                  <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                  <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                  <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
    <div class="navbar-collapse collapse right" id="basket-overview">
      <a href="{% url 'carts' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i>
      <span class="hidden-sm">{{request.session.cart_items|default:"0"}} item{{ request.session.cart_items|pluralize }} <span class="hidden-md">in cart</span></span></a>
    </div>
    <!--/.nav-collapse -->
    <div class="navbar-collapse collapse right">
      <button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
      <span class="sr-only">Toggle search</span>
      <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse right">
      <button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login-modal">
      <span class="sr-only">User login</span>
      <i class="fa fa-users"></i>
      </button>
    </div>
    <div class="collapse clearfix" id="search">
      {% include 'search/search.html' %}
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->

<div class="sub-navbar">
	<div class="navbar navbar-inverse" role="navigation" id="submenu">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#" style="color: #fff;">
				<strong style="font-size: 3em; font-weight: 900;">4</strong>
      <span style="font-size: 2em;">niture</span>
			</a>
			</div>
			<div class="collapse navbar-collapse" id="mainNav">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#">Dining</a></li>
					<li><a href="#">Bedroom</a></li>
					<li><a href="#">Modular Kitchen</a></li>
					<li><a href="#">4niture Special</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'carts' %}" class="btn btn-primary navbar-btn navbar-cart"><i class="fa fa-shopping-cart"></i>
      				<span class="hidden-sm">{{request.session.cart_items|default:"0"}} item{{ request.session.cart_items|pluralize }} <span class="hidden-md">in cart</span></span>
      			</a>
					</li>
					<li>
						<button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login-modal">
							<span class="sr-only">User login</span>
							<i class="fa fa-users"></i>
						</button>
					</li>
					<li>
						<button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
							<span class="sr-only">Toggle search</span>
							<i class="fa fa-search"></i>
						</button>
					</li>
				</ul>
				<div class="collapse clearfix" id="search">
					{% include 'search/search.html' %}
				</div>
			</div>
		</div>
	</div>
</div>
