{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="btn btn-icon-only navbar-toggle"><i class="fa fa-user"></i></a>
            <a class="btn btn-icon-only navbar-toggle" data-toggle="collapse" data-target=".form-wrap"><i class="fa fa-search"></i></a>
            <a class="navbar-brand" href="index.html">
                <!-- <div class="brand-logo"><img alt="themesnerd" src="img/logo.png">
                </div> -->
                <a class="navbar-brand home" href="index.html" style="font-size: 1em; color: #000;">
                <strong style="font-size: 4em; font-weight: 900;">4</strong>
                <span style="font-size: 3em;">niture</span>
                </a>
            </a>
        </div>
        <div class="nav-bar-btn">
            <a href="#" class="btn btn-icon-only btn-nav btn-nav-desktop"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-icon-only btn-nav btn-nav-desktop"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-icon-only btn-nav btn-nav-desktop" data-toggle="collapse" data-target=".form-wrap"><i class="fa fa-search"></i></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="index-1.html">Homepage 1</a>
                        </li>
                        <li><a href="index-2.html">Homepage 2</a>
                        </li>
                        <li><a href="index-3.html">Homepage 3</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="product-1.html">Product List 1</a>
                        </li>
                        <li><a href="product-2.html">Product List 2</a>
                        </li>
                        <li><a href="product-details-1.html">Product Details 1</a>
                        </li>
                        <li><a href="product-details-2.html">Product Details 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="contact-1.html">Contact 1</a>
                        </li>
                        <li><a href="contact-2.html">Contact 2</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="product-landing-1.html">Landing Page 1</a>
                        </li>
                        <li><a href="product-landing-2.html">Landing Page 2</a>
                        </li>
                        <li><a href="faq.html">FAQ</a>
                        </li>
                        <li><a href="404.html">404 Page</a>
                        </li>
                        <li><a href="commingsoon.html">Comming Soon</a>
                        </li>
                        <li><a href="underdev.html">Under Dev</a>
                        </li>
                        <li><a href="shortcode.html">Shortcode</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <div class="container">
        <div class="form-wrap collapse">
						{% include 'search/search.html' %}
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
