<div class="container-fluid d-none d-sm-none d-md-block bg-light">
  <div class="row">
    <div class="container top-header">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-info d-flex flex-row justify-content-center align-items-center float-left">
            <span class="p-2">info@4niture.com</span>
            <span class="p-2">9843215674</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="account-info d-flex flex-row justify-content-center align-items-center float-right">
						{% if request.user.is_authenticated %}
						<span />
						{% else %}
						<a href="{% url 'account_login' %}"><span class="p-2">Login</span></a>
            <a href="{% url 'account_signup' %}"><span class="p-2">Register</span><a>
						{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
