{% load i18n %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-md-offset-3">
			<div class="login_form">
				{% comment %}
				<h1>{% trans "Sign In" %}</h1>
		    <p>{% blocktrans %}If you have not created an account yet, then please
		    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
				{% endcomment %}
				<div class="space"></div>
				<form action="{% url 'account_login' %}" method="post">
		    {% csrf_token %}
		    <input type="hidden" name="next" value={{ next_url }} />
				<div class="form-group">
					<label for="id_login">Username/Email</label>
						<input class="form-control" id="id_login" name="login" placeholder="Username or e-mail" type="text" required />
				</div>
				<div class="form_group">
					<label for="id_password">Password</label>
					<input class="form-control" id="id_password" name="password" placeholder="Password" type="password" required />
				</div>
				<div class="form_group">
					<label class="custom-control custom-checkbox">
		        <input id="id_remember" name="remember" type="checkbox" class="custom-control-input">
		        <span class="custom-control-indicator"></span>
		        <span class="custom-control-description">Remember me</span>
		      </label>
				</div>
		    <button type="submit" class="btn reg-log-btn">Login</button>
		    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
		</form>
			</div>
  </div>
</div>
</div>
