<form id="form-search" action="/find/" method="get" role="search" class="w-100">
  <div class="form-group">
		<input id="q" type="text" class="form-control search" id="q" name="q" placeholder="what are you looking for ?">
		<button type="submit"><i class="fa fa-search"></i></button>
		<button type="reset" data-toggle="collapse" data-target=".form-wrap">
			<i class="fa fa-close"></i>
		</button>
		<!-- <div class="input-group col-12">
      <input type="text" name="q" id="q" autocomplete="off" class="form-control search" placeholder="what are you looking for ?">
      <div class="input-group-addon">
        <i class="icon ion-ios-search-strong"></i>
      </div>
    </div> -->
  </div>
  <div id="selction-ajax"></div>
</form>
