<form class='form-product-ajax' method='POST' action='{% url "update" %}' data-endpoint='{% url "update" %}'> {% csrf_token %}
	<input class='cart-item-furniture-id' type='hidden' name='furniture_id' value='{{ furniture_id }}' />
	<button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;">
		<i class="ion-ios-close-outline remove"></i>
	</button>
</form>
