ol li, ul li {
    list-style: none outside none;
}

.table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.space {
	margin: 20px 0;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.section_padding_50 {
    padding: 50px 0;
}

.section_padding_50_20 {
    padding: 50px 0 20px 0;
}

.section_padding_150 {
    padding: 150px 0;
}

.section_padding_0 {
    padding: 0;
}

.section_padding_0_70 {
    padding: 0 0 70px 0;
}

.section_padding_100 {
    padding: 100px 0;
}

.section_padding_100_0 {
    padding: 100px 0 0 0;
}

.section_padding_0_100 {
    padding: 0 0 100px 0;
}

.section_padding_0_70 {
    padding: 0 0 70px 0;
}

.mb-70 {
    margin-bottom: 70px;
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_200_100 {
    padding-top: 200px;
    padding-bottom: 100px;
}

.section_padding_200_70 {
    padding-top: 200px;
    padding-bottom: 70px;
}

.section_padding_200_170 {
    padding-top: 200px;
    padding-bottom: 170px;
}

.section_padding_200_0 {
    padding-top: 200px;
    padding-bottom: 0;
}

.alert > p {
    margin: 0;
}

.bg-white {
    background-color: #fff;
}

.bg-dark {
    background-color: #000;
}

.bg-blue {
    background-color: #3498db !important;
}

.bg-teal {
    background-color: #009688 !important;
}

.bg-gray {
    background-color: #f6f6f6 !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-dark3 {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-dark2 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.line,
.line-mtb15 {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}

.line-mtb15 {
    margin: 15px 0;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

.nav-search-button {
    width: 50px;
}

.btn.reg-log-btn {
    background-color: #009688 !important;
    color: #fff !important;
    min-width: 150px;
}

.checkout_steps_area {
  margin-bottom: 20px;
  line-height: 30px;
}

.step {
  display: block;
  float: left;
  font-weight: bold;
  background: #f9f9f9;
  padding: 0 100px;
  height: 30px;
  line-height: 32px;
  /*margin-right: 33px;*/
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: default;
	font-size: 12px;
}
	.step:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
    border-color: #f9f9f9;
    border-left-color: transparent;
}

	.step:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: #f9f9f9;
}

  .step:first-of-type {
    border-radius: 2px 0 0 2px;
    padding-left: 15px;

    &:before {
      display: none;
    }
  }

  .step:last-of-type {
    border-radius: 0 2px 2px 0;
    margin-right: 25px;
    padding-right: 15px;

    &:after {
      display: none;
    }
  }

  .step.completed {
    background: #36c7ad;
    color: #fff !important;
    cursor: pointer;
}
    .step.completed:before {
      border-color: #fff;
      border-left-color: transparent;
    }

    .step.completed:after {
      border-left-color: #36c7ad;
    }

    /*.step.completed:hover {
      background: #36c7ad;
      border-color: #444;
      color: #fff;
      text-decoration: none;
}
    .step.completed:hover:before {
        border-color: #444;
        border-left-color: transparent;
      }

      .step.completed:hover:after {
        border-left-color: #444;
      }*/
    }
  }
}

/*.checkout_steps_area {
    background-color: #f6f6f6;
    position: relative;
    z-index: 1;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
}

.checkout_steps_area a.active {
    background-color: #00BCD4;
    color: #fff !important;
    cursor: default;
    pointer-events: none;
}

.checkout_steps_area a {
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
    width: 20%;
    text-transform: uppercase;
}

.checkout_steps_area a:first-child {
    border-radius: 5px 0 0 5px;
}*/
.login_form {
	background-color: #fff;
	padding: 100px;
	border-radius: 6px;
}
