body {
  margin: 0;
  padding: 0;
}

.logo {
  line-height: 30px;
}

.navbar-collapse {
  float: none;
}

.navbar-cart {
  padding: 6px 12px !important;
}

.sub-navbar #submenu {
  padding: 5px 20px;
}