.navbar .yamm-content h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding-bottom: 10px;
  margin-top: 5px;
  border-bottom: dotted 1px #555
}

@media (max-width:767px) {
  .navbar .yamm-content h3 {
    font-size: 14px
  }
}

.navbar .yamm-content h5 {
  text-transform: uppercase;
  letter-spacing: .08em;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555
}

.navbar .yamm-content ul {
  margin: 0;
  padding: 0
}

.navbar .yamm-content ul li {
  list-style-type: none;
  border-bottom: solid 1px #eee;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: 4px 0
}

.navbar .yamm-content ul li a {
  color: #999;
  font-size: 12px;
  display: block
}

.navbar .yamm-content ul li a:hover {
  color: #c27baa;
  text-decoration: none
}

.navbar .yamm-content .banner {
  margin-bottom: 10px
}

.navbar ul.nav>li>a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .08em;
  text-decoration: none
}

.navbar li.active>a {
  font-weight: bold;
  text-decoration: none !important;
  color: #000
}

.navbar .yamm-fw .dropdown-menu {
  padding: 0
}

.navbar .normal-dropdown .dropdown-menu li {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: 4px 0;
  font-weight: 400
}

.navbar .navbar-buttons {
  float: right
}

.navbar .navbar-buttons button, .navbar .navbar-buttons a.btn, .navbar .navbar-buttons .btn-default.navbar-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 5px
}

.navbar .btn-default, .navbar .btn-default.navbar-toggle {
  color: #999;
  background-color: #fff;
  margin-left: 7px;
  margin-right: 0
}

.navbar .btn-default:hover, .navbar .btn-default.navbar-toggle:hover, .navbar .btn-default:focus, .navbar .btn-default.navbar-toggle:focus {
  background-color: #fff;
  border-color: #c27baa;
  color: #c27baa
}

.navbar #search {
  clear: both;
  border-top: solid 1px #c27baa;
  text-align: right
}

.navbar #search .navbar-form {
  float: right;
  width: 500px
}

.navbar #search .navbar-form .input-group {
  display: table
}

.navbar #search .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%
}

.navbar #search .navbar-form .input-group .form-control {
  width: 100%
}

@media (max-width:768px) {
  .navbar #search .navbar-form {
    float: none;
    width: auto
  }
}

.navbar #basket-overview a {
  margin-left: 7px
}

.navbar .footer {
  background: #c27baa;
  padding: 20px 30px
}

.navbar .footer h4 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #fff;
  margin: 5px 0 0 0
}

.navbar .footer .buttons .btn, .navbar .footer .buttons .btn.btn-default {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #555
}

#login-modal {
  overflow: hidden
}

#login-modal .modal-header h4 {
  text-transform: uppercase;
  letter-spacing: .08em
}

#login-modal form {
  margin-bottom: 20px
}

#login-modal a {
  color: #c27baa
}

#login-modal p {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 13px
}

.modal-backdrop {
  z-index: 1035
}

body {
  padding-top: 100px
}

body.no-padding {
  padding-top: 0
}

a, button {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

a i.fa, button i.fa {
  margin: 0 5px
}

.clickable {
  cursor: pointer !important
}

.required {
  color: #c27baa
}

.accent {
  color: #c27baa
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: .08em
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex
}

.align-items-center {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center
}

.panel-title a:focus {
  color: #fff
}

.input-group-btn .btn {
  font-size: 14px
}

.box {
  background: #fff;
  margin: 0 0 30px;
  /*border: solid 1px #ccc;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-left: none;
  border-right: none
}

.box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eee
}

.box .box-header:before, .box .box-header:after {
  content: " ";
  display: table
}

.box .box-header:after {
  clear: both
}

.box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eee
}

.box .box-footer:before, .box .box-footer:after {
  content: " ";
  display: table
}

.box .box-footer:after {
  clear: both
}

@media (max-width:991px) {
  .box .box-footer .btn {
    margin-bottom: 20px
  }
}

.box.no-border {
  border: none
}

.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px
}

.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0
}

.ribbon .theribbon {
  position: relative;
  width: 80px;
  padding: 6px 20px 6px 20px;
  margin: 30px 10px 10px -71px;
  color: #fff;
  background-color: #c27baa;
  font-family: "Montserrat", Helvetica, Arial, sans-serif
}

.ribbon .theribbon:before, .ribbon .theribbon:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0
}

.ribbon .theribbon:after {
  left: 0;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #000 #000 transparent transparent
}

.ribbon.ribbon-quick-view {
  padding-left: 36px
}

.ribbon.ribbon-quick-view .theribbon {
  margin-left: -59px
}

.ribbon.ribbon-quick-view .theribbon:after {
  border-width: 4px 4px
}

.ribbon.sale {
  top: 0
}

.ribbon.new {
  top: 50px
}

.ribbon.new .theribbon {
  background-color: #5bc0de;
  text-shadow: 0 1px 2px #bbb
}

.ribbon.new .theribbon:after {
  border-color: #2390b0 #2390b0 transparent transparent
}

.ribbon.gift {
  top: 100px
}

.ribbon.gift .theribbon {
  background-color: #5cb85c;
  text-shadow: 0 1px 2px #bbb
}

.ribbon.gift .theribbon:after {
  border-color: #357935 #357935 transparent transparent
}

#content .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 1px #fff;
  font-size: 20px
}

#content .icon.icon-lg {
  font-size: 30px;
  border-width: 2px
}

#content .bar {
  position: relative;
  padding: 50px 0;
  margin: 50px 0 80px
}

#content .bar.background-gray {
  background: #eee
}

#content .bar.background-gray-dark {
  background: #555
}

#content .bar.background-white {
  background: #fff
}

#content .bar.background-image-fixed-1 {
  background-attachment: fixed;
  background-size: cover;
}

#content .bar.background-image-fixed-2 {
  background-attachment: fixed;
  background-size: cover
}

#content .bar.color-white h1, #content .bar.color-white h2, #content .bar.color-white h3, #content .bar.color-white h4, #content .bar.color-white h5, #content .bar.color-white h6, #content .bar.color-white p {
  color: #fff
}

#content .bar.padding-big {
  padding: 50px 0
}

#content .bar.padding-horizontal {
  padding-left: 30px;
  padding-right: 30px
}

#content .bar.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px
}

#content .bar .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
  filter: alpha(opacity=30)
}

#intro {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

#intro .item {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  height: 100%
}

#intro .item h1 {
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: 50px;
  color: #fff;
  margin-bottom: 40px
}

@media (max-width:991px) {
  #intro .item h1 {
    font-size: 40px
  }
}

@media (max-width:767px) {
  #intro .item h1 {
    font-size: 25px
  }
}

#intro .item h3 {
  color: #fff;
  margin-bottom: 40px
}

@media (max-width:767px) {
  #intro .item h3 {
    font-size: 15px;
    margin-bottom: 20px
  }
}

#intro .item .btn {
  text-transform: none
}

@media (max-width:991px) {
  #intro .item .btn {
    font-size: 14px
  }
}

@media (max-width:991px) {
  #intro .item .carousel-caption {
    left: 10%;
    right: 10%
  }
}

#intro .container, #intro .row {
  height: 100%;
  position: relative
}

#advantages {
  margin-top: 30px
}

#advantages p {
  clear: both;
  color: #555;
  text-align: center;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 18px
}

#advantages p strong {
  color: #c27baa
}

#advantages .box.no-border {
  text-align: left;
  margin: 0
}

#advantages .box.no-border i {
  position: relative;
  font-size: 45px;
  float: left;
  margin: 0 20px 20px 0;
  color: #999;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

@media (max-width:991px) {
  #advantages .box.no-border i {
    float: none;
    margin: 0;
    text-align: center !important
  }
}

#advantages .box.no-border h4 {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #ccc
}

#advantages .box.no-border h4 a {
  color: #ccc
}

#advantages .box.no-border h4 a:hover {
  text-decoration: none
}

#advantages .box.no-border:hover i {
  color: #c27baa
}

#slider .item {
  margin: 0 15px
}

#slider a img {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

#slider a:hover img {
  opacity: .8;
  filter: alpha(opacity=80)
}

section.hero {
  margin-top: -30px;
  color: #fff;
  background: none;
  padding: 0 !important
}

section.hero::before {
  display: none
}

section.hero .item {
  padding: 10px 0;
  min-height: calc(100vh - 60px);
  background-size: cover !important;
  background-position: center center !important;
  color: #fff
}

section.hero h5 {
  font-family: "Merriweather", "Times New Roman", Times, serif !important;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

section.hero h1 {
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

section.hero p {
  font-family: "Merriweather", "Times New Roman", Times, serif !important;
  font-style: italic;
  font-size: 1.2em;
  padding: 0 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

section.hero .owl-prev, section.hero .owl-next {
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  color: #333;
  line-height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
  opacity: 1;
  transition: all .4s;
  font-size: 18px;
  position: absolute
}

section.hero .owl-prev:hover, section.hero .owl-next:hover {
  background: #c27baa;
  color: #fff
}

section.hero .owl-prev {
  left: 20px
}

section.hero .owl-next {
  right: 20px
}

section.hero .owl-dots {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%
}

section.hero .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline
}

section.hero .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 30px
}

section.hero .owl-dots .owl-dot.active span, section.hero .owl-dots .owl-dot:hover span {
  background: #c27baa
}

.breadcrumb {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .08em
}

#categoryMenu h3 {
  padding: 20px;
  background: #f7f7f7;
  margin: 0;
  border-bottom: solid 1px #eee;
  text-transform: uppercase;
  letter-spacing: .08em
}

.panel.sidebar-menu h3 {
  padding: 5px 0;
  margin: 0
}

.panel.sidebar-menu, #categoryMenu {
  background: #fff;
  margin: 0 0 20px;
  border: solid 1px #ccc;
  border-left: none;
  border-right: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.panel.sidebar-menu .panel-heading, #categoryMenu .panel-heading {
  text-transform: uppercase;
  letter-spacing: .08em
}

.panel.sidebar-menu .panel-heading .btn.btn-danger, #categoryMenu .panel-heading .btn.btn-danger {
  color: #fff
}

.panel.sidebar-menu .panel-body span.colour, #categoryMenu .panel-body span.colour {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid 1px #555;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 5px
}

.panel.sidebar-menu .panel-body span.colour.white, #categoryMenu .panel-body span.colour.white {
  background: #fff
}

.panel.sidebar-menu .panel-body span.colour.red, #categoryMenu .panel-body span.colour.red {
  background: #f00
}

.panel.sidebar-menu .panel-body span.colour.green, #categoryMenu .panel-body span.colour.green {
  background: #008000
}

.panel.sidebar-menu .panel-body span.colour.blue, #categoryMenu .panel-body span.colour.blue {
  background: #00f
}

.panel.sidebar-menu .panel-body span.colour.yellow, #categoryMenu .panel-body span.colour.yellow {
  background: #ff0
}

.panel.sidebar-menu .panel-body label, #categoryMenu .panel-body label {
  color: #999;
  font-size: 12px
}

.panel.sidebar-menu .panel-body label:hover, #categoryMenu .panel-body label:hover {
  color: #555
}

.panel.sidebar-menu ul.nav.category-menu, #categoryMenu ul.nav.category-menu {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: 700
}

.panel.sidebar-menu ul.nav.category-menu li a, #categoryMenu ul.nav.category-menu li a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif
}

.panel.sidebar-menu ul.nav ul, #categoryMenu ul.nav ul {
  list-style: none;
  padding-left: 0
}

.panel.sidebar-menu ul.nav ul li, #categoryMenu ul.nav ul li {
  display: block
}

.panel.sidebar-menu ul.nav ul li a, #categoryMenu ul.nav ul li a {
  position: relative;
  font-family: "Helvetica Neue", "Times New Roman", Times, serif;
  font-weight: normal;
  text-transform: none !important;
  display: block;
  padding: 10px 15px;
  padding-left: 30px;
  font-size: 12px;
  color: #999
}

.panel.sidebar-menu ul.nav ul li a:hover, #categoryMenu ul.nav ul li a:hover, .panel.sidebar-menu ul.nav ul li a:focus, #categoryMenu ul.nav ul li a:focus {
  text-decoration: none;
  background-color: #eee
}

.info-bar {
  line-height: 32px;
  vertical-align: middle
}

@media (max-width:991px) {
  .info-bar .products-showing {
    text-align: center
  }
}

.info-bar .products-number-sort {
  font-size: 13px
}

@media (max-width:991px) {
  .info-bar .products-number-sort {
    text-align: center;
    margin-top: 10px
  }
}

.info-bar .products-number {
  text-align: center
}

.info-bar .products-number strong {
  margin-right: 10px
}

.info-bar .products-sort-by {
  text-align: right
}

.info-bar .products-sort-by select {
  margin-left: 10px
}

@media (max-width:991px) {
  .info-bar .products-sort-by {
    margin: 0
  }
}

@media (max-width:767px) {
  .info-bar .products-sort-by {
    text-align: center;
    margin: 10px 0 0
  }
}

.product {
  background: #fff;
  border-bottom: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center
}

.product .image {
  overflow: hidden;
  position: relative
}

.product .image img {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

@media (max-width:767px) {
  .product .image img.img-responsive {
    min-width: 100%
  }
}

.product .image .quick-view-button {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -50px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

.product .image .quick-view-button .btn {
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 11px;
  width: 100px;
  text-align: center
}

@media (max-width:767px) {
  .product .image .quick-view-button {
    display: none
  }
}

.product .text {
  padding: 10px
}

.product .text h3 {
  font-size: 18px;
  font-weight: 700;
  height: 39.6px
}

.product .text h3 a {
  color: #555
}

.product .text p.price {
  font-size: 18px
}

.product .text p.price del {
  color: #999
}

.product .buttons {
  clear: both;
  position: absolute;
  display: none;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px transparent;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: center
}

.product .buttons .btn {
  margin-bottom: 20px
}

.product:hover {
  border-bottom: solid 1px #808080;
  top: 0
}

.product:hover .quick-view-button .btn {
  opacity: .8;
  filter: alpha(opacity=80)
}

.product:hover .image img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
}

.banner {
  margin-bottom: 30px;
  text-align: center
}

.banner img {
  margin: 0 auto
}

.banner a:hover img {
  opacity: .8;
  filter: alpha(opacity=80);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

.pages {
  text-align: center
}

.pages .loadMore {
  text-align: center
}

.pages .pagination {
  text-align: center
}

.quick-view-main-image {
  text-align: center
}

.quick-view-main-image img {
  max-height: 350px;
  margin: 0 auto
}

#productMain, .quick-view {
  margin-bottom: 30px
}

#productMain .goToDescription, .quick-view .goToDescription {
  font-size: 12px;
  text-align: center
}

#productMain .goToDescription a, .quick-view .goToDescription a {
  color: #999;
  text-decoration: underline
}

#productMain .sizes, .quick-view .sizes {
  text-align: center
}

#productMain .sizes a, .quick-view .sizes a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #ccc;
  line-height: 40px;
  color: #555;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif
}

#productMain .sizes a.active, .quick-view .sizes a.active, #productMain .sizes a:hover, .quick-view .sizes a:hover {
  background: #c27baa;
  color: #fff
}

#productMain .sizes input, .quick-view .sizes input {
  display: none
}

#productMain .price, .quick-view .price {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px
}

.quick-view {
  margin-bottom: 20px
}

.quick-view .box {
  margin-top: 20px
}

.quick-view h2 {
  text-align: center
}

.quick-view .sizes h3 {
  font-size: 18px;
  margin-top: 10px
}

.quick-view .sizes a {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px
}

.quick-view .price {
  font-size: 28px;
  margin: 20px 0
}

.thumbs a, #thumbs a {
  display: block;
  border: solid 1px transparent
}

.thumbs a.active, #thumbs a.active {
  border-color: #c27baa
}

.quick-view .thumbs {
  margin-top: 30px
}

.quick-view-social, #product-social {
  text-align: center
}

.quick-view-social h4, #product-social h4 {
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: 14px
}

.quick-view-social p, #product-social p {
  line-height: 26px
}

.quick-view-social p a, #product-social p a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  vertical-align: bottom
}

.quick-view-social p a i, #product-social p a i {
  vertical-align: bottom;
  line-height: 26px
}

.quick-view-social p a.facebook, #product-social p a.facebook {
  background-color: #4460ae
}

.quick-view-social p a.gplus, #product-social p a.gplus {
  background-color: #c21f25
}

.quick-view-social p a.twitter, #product-social p a.twitter {
  background-color: #3cf
}

.quick-view-social p a.instagram, #product-social p a.instagram {
  background-color: #cd4378
}

.quick-view-social p a.email, #product-social p a.email {
  background-color: #4a7f45
}

@media (max-width:991px) {
  .quick-view-social, #product-social {
    text-align: center
  }
}

#text-page h1, #text-page h2, #text-page h3 {
  font-weight: 700
}

#error-page {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px
}

#error-page h4 {
  margin-bottom: 40px
}

#error-page p.buttons {
  margin-top: 40px
}

#map {
  height: 400px
}

.team {
  margin-top: 40px
}

.team-member {
  text-align: center;
  margin-bottom: 40px
}

.team-member h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: .08em
}

.team-member h3 a {
  color: #555
}

.team-member p.role {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .06em
}

.team-member .social {
  margin-bottom: 20px
}

.team-member .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  vertical-align: bottom
}

.team-member .social a i {
  vertical-align: bottom;
  line-height: 26px
}

.team-member .social a.facebook {
  background-color: #4460ae
}

.team-member .social a.gplus {
  background-color: #c21f25
}

.team-member .social a.twitter {
  background-color: #3cf
}

.team-member .social a.instagram {
  background-color: #cd4378
}

.team-member .social a.email {
  background-color: #4a7f45
}

.team-member .text p {
  color: #999;
  font-size: 12px
}

#blog-listing .post, #blog-homepage .post {
  margin-bottom: 60px
}

#blog-listing .post h2 a, #blog-homepage .post h2 a, #blog-listing .post h4 a, #blog-homepage .post h4 a {
  color: #555
}

#blog-listing .post h2 a:hover, #blog-homepage .post h2 a:hover, #blog-listing .post h4 a:hover, #blog-homepage .post h4 a:hover {
  color: #c27baa
}

#blog-listing .post .author-category, #blog-homepage .post .author-category {
  color: #999;
  font-style: italic
}

#blog-listing .post .date-comments a, #blog-homepage .post .date-comments a {
  color: #999;
  margin-right: 20px
}

#blog-listing .post .date-comments a:hover, #blog-homepage .post .date-comments a:hover {
  color: #c27baa
}

#blog-listing .post .intro, #blog-homepage .post .intro {
  text-align: left
}

#blog-listing .post .image, #blog-homepage .post .image {
  margin-bottom: 10px;
  overflow: hidden
}

#blog-listing .post .image img, #blog-homepage .post .image img {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out
}

@media (max-width:767px) {
  #blog-listing .post .image img.img-responsive, #blog-homepage .post .image img.img-responsive {
    min-width: 100%
  }
}

#blog-listing .post .read-more, #blog-homepage .post .read-more {
  text-align: right
}

#blog-listing .post:hover .image img, #blog-homepage .post:hover .image img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
}

#blog-homepage .post {
  margin-bottom: 60px
}

#blog-homepage .post h2, #blog-homepage .post h4, #blog-homepage .post .author-category, #blog-homepage .post .read-more {
  text-align: center
}

#blog-homepage .post .read-more {
  margin-top: 20px
}

#blog-post #post-content {
  margin-bottom: 20px
}

#blog-post .comment {
  margin-bottom: 25px
}

#blog-post .comment:before, #blog-post .comment:after {
  content: " ";
  display: table
}

#blog-post .comment:after {
  clear: both
}

#blog-post .comment .posted {
  color: #999;
  font-size: 12px
}

#blog-post .comment .reply {
  font-family: "Montserrat", Helvetica, Arial, sans-serif
}

#blog-post .comment.last {
  margin-bottom: 0
}

#blog-post #comments, #blog-post #comment-form {
  padding: 20px 0;
  margin-top: 20px;
  border-top: solid 1px #eee
}

#blog-post #comments:before, #blog-post #comment-form:before, #blog-post #comments:after, #blog-post #comment-form:after {
  content: " ";
  display: table
}

#blog-post #comments:after, #blog-post #comment-form:after {
  clear: both
}

#blog-post #comments h4, #blog-post #comment-form h4 {
  margin-bottom: 20px
}

#blog-post #comment-form {
  margin-bottom: 20px
}

#checkout .nav {
  margin-bottom: 20px;
  border-bottom: solid 1px #c27baa
}

#checkout .nav li {
  height: 100%
}

#checkout .nav li a {
  display: block;
  height: 100%
}

#order-summary table {
  margin-top: 20px
}

#order-summary table td {
  color: #999
}

#order-summary table tr.total td, #order-summary table tr.total th {
  font-size: 18px;
  color: #555;
  font-weight: 700
}

#checkout .table tbody tr td, #basket .table tbody tr td, #customer-order .table tbody tr td {
  vertical-align: middle
}

#checkout .table tbody tr td input, #basket .table tbody tr td input, #customer-order .table tbody tr td input {
  width: 50px;
  text-align: right
}

#checkout .table tbody tr td img, #basket .table tbody tr td img, #customer-order .table tbody tr td img {
  width: 50px
}

#checkout .table tfoot, #basket .table tfoot, #customer-order .table tfoot {
  font-size: 18px
}

#customer-orders table tr th, #customer-orders table tr td {
  vertical-align: baseline
}

#customer-order .table tfoot th {
  font-size: 18px;
  font-weight: 300
}

#customer-order .addresses {
  text-align: right;
  margin-bottom: 30px
}

#customer-order .addresses p {
  font-size: 18px;
  font-weight: 300
}

#customer-account {
  margin-bottom: 30px
}

#footer {
  border-top: dotted 1px #000;
  background: #f7f7f7;
  padding: 60px 0
}

#footer ul {
  padding-left: 0;
  list-style: none
}

#footer ul a {
  color: #999
}

#footer ul a:hover {
  color: #c27baa;
  text-decoration: none
}

#footer .social a {
  color: #555;
  font-size: 25px;
  margin: 0 10px 0 0
}

#footer .social a:hover {
  color: #c27baa
}

#copyright {
  background: #333;
  color: #ccc;
  padding: 20px 0;
  font-size: 12px;
  line-height: 28px
  font-family: Helvetica, Arial;
}

#copyright p {
  margin: 0
}

@media (max-width:991px) {
  #copyright p {
    float: none !important;
    text-align: center;
    margin-bottom: 10px
  }
}

#style-switch-button {
  position: fixed;
  top: 100px;
  left: 0;
  border-radius: 0;
  font-size: 20px;
  z-index: 3000
}

#style-switch {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  position: fixed;
  top: 148px;
  left: 0;
  background: #fff;
  border: solid 1px #eee;
  z-index: 3000
}

#style-switch form {
  margin-bottom: 20px
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav>li>a {
  padding: 10px 15px
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #eee
}

.nav>li.disabled>a {
  color: #999
}

.nav>li.disabled>a:hover, .nav>li.disabled>a:focus {
  color: #999
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #eee;
  border-color: #c27baa
}

.nav-tabs {
  border-bottom: 1px solid #ddd
}

.nav-tabs>li>a {
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd
}

.nav-pills>li>a {
  border-radius: 0
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #c27baa
}

a.child {
    color: #59c1df !important;
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 900 !important;
}

a.leaf {
    text-align: left;
    margin-left: 40px;
    font-size: 13px;
}

.nav-tabs-justified>li>a {
  border-radius: 4px
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.active>a:hover, .nav-tabs-justified>.active>a:focus {
  border: 1px solid #ddd
}

@media (min-width:768px) {
  .nav-tabs-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0
  }
  .nav-tabs-justified>.active>a, .nav-tabs-justified>.active>a:hover, .nav-tabs-justified>.active>a:focus {
    border-bottom-color: #fff
  }
}

.navbar {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  min-height: 80px;
  margin-bottom: 30px;
  border-bottom: 1px solid transparent
}

@media (min-width:768px) {
  .navbar {
    border-radius: 0
  }
}

.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px
}

.navbar-collapse.in {
  overflow-y: auto
}

@media (min-width:768px) and (max-width:991px) {
  .navbar-collapse {
    font-size: 12px
  }
}

@media (min-width:768px) {
  .navbar-collapse {
    float: left;
    width: auto;
    border-top: 0;
    box-shadow: none
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important
  }
  .navbar-collapse.in {
    overflow-y: visible
  }
  .navbar-collapse.right {
    float: right
  }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0
  }
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  margin-right: -15px;
  margin-left: -15px
}

@media (min-width:768px) {
  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0
  }
}

/*.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 80px
}*/

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none
}

@media (min-width:768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px
  }
}

.navbar-toggle {
  padding: 9px 10px !important;
  margin-right: 15px;
  border-radius: 4px;
  min-height: 40px
}

.navbar-nav {
  margin: 15px -15px
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px
}

@media (max-width:767px) {
  .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px
  }
  .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu>li>a:focus {
    background-image: none
  }
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0
  }
  .navbar-nav>li {
    float: left
  }
  .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px
  }
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border: none;
  margin-top: 23px;
  margin-bottom: 23px
}

@media (max-width:767px) {
  .navbar-form .form-group {
    margin-bottom: 5px
  }
}

.navbar-btn {
  margin-top: 23px;
  margin-bottom: 23px
}

.navbar-btn.btn-sm {
  margin-top: 25px;
  margin-bottom: 25px
}

.navbar-btn.btn-xs {
  margin-top: 29px;
  margin-bottom: 29px
}

.navbar-text {
  margin-top: 30px;
  margin-bottom: 30px
}

@media (min-width:768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0
  }
}

.navbar-default {
  background-color: #fff;
  border-bottom-color: none
  /*border-bottom-color: #e6e6e6*/
}

.navbar-default .navbar-brand {
  color: #777
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent
}

.navbar-default .navbar-text {
  color: #777
}

.navbar-default .navbar-nav>li>a {
  color: #777
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #333;
  background-color: transparent
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: transparent
}

.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:hover, .navbar-default .navbar-nav>.disabled>a:focus {
  color: #ccc;
  background-color: transparent
}

.navbar-default .navbar-toggle {
  border-color: #ddd
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c27baa
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888
}

.navbar-default .navbar-collapse {
  border-color: #e6e6e6
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
  color: #555
}

@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #333;
    background-color: transparent
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #555;
    background-color: transparent
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #ccc;
    background-color: transparent
  }
}

.navbar-default .navbar-link {
  color: #777
}

.navbar-default .navbar-link:hover {
  color: #333
}

body {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff
}

a {
  color: #c27baa;
  text-decoration: none
}

a:hover, a:focus {
  color: #a44c87;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.img-rounded {
  border-radius: 6px
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

.breadcrumb {
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0;
  text-align: right;
  font-size: 13px
}

.breadcrumb>li+li:before {
  content: ">\00a0";
  color: #ccc
}

.breadcrumb>.active {
  color: #999
}

@media (max-width:991px) {
  .breadcrumb {
    padding: 8px 0;
    text-align: center
  }
}

.btn {
  font-weight: normal;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 3px
}

.btn-primary {
  color: #c27baa;
  background-color: #fff;
  border-color: #c27baa
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #c27baa;
  background-color: #ebebeb;
  border-color: #af518f
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #fff;
  border-color: #c27baa
}

.btn-primary .badge {
  color: #fff;
  background-color: #c27baa
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active {
  background: #c27baa;
  color: #fff
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.dropdown-menu>li>a {
  padding: 5px 20px
}

.label {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .08em
}

label {
  font-weight: normal
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none
}

.form-group {
  margin-bottom: 20px
}

.pager {
  margin: 20px 0;
  border-top: solid 1px #eee;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif
}

.pager li {
  display: inline
}

.pager li>a, .pager li>span {
  background-color: #fff;
  border: 1px solid #c27baa;
  border-radius: 4px
}

.pager li>a:hover, .pager li>a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #c27baa
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
  color: #999;
  background-color: #fff;
  border-color: #ddd
}

.pagination {
  margin: 20px 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  border-radius: 0
}

.pagination>li>a, .pagination>li>span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #c27baa;
  background-color: #fff;
  border: 1px solid #ddd
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #c27baa;
  background-color: #f2e4ed;
  border-color: #ddd
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #c27baa;
  border-color: #c27baa
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd
}

@media (max-width:767px) {
  .text-center-xs {
    text-align: center !important
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

@media (min-width:768px) and (max-width:991px) {
  .text-center-sm {
    text-align: center !important
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #333
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 20px
}

p {
  margin: 0 0 10px
}

.lead {
  margin-bottom: 20px;
  font-size: 16px
}

@media (min-width:768px) {
  .lead {
    font-size: 21px
  }
}

.text-small {
  font-size: 12px
}

.text-large {
  font-size: 18px
}

.text-italic {
  font-style: italic
}

.text-primary {
  color: #c27baa
}

a.text-primary:hover {
  color: #b25894
}

.bg-primary {
  color: #fff;
  background-color: #c27baa
}

a.bg-primary:hover {
  background-color: #b25894
}

abbr[title], abbr[data-original-title] {
  border-bottom: 1px dotted #999
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #c27baa
}

blockquote footer, blockquote small, blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
  content: '\2014 \00A0'
}

.blockquote-reverse, blockquote.pull-right {
  border-right: 5px solid #c27baa
}

address {
  margin-bottom: 20px;
  line-height: 1.42857143
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0
}

.panel-primary {
  border-color: #c27baa
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #c27baa;
  border-color: #c27baa
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #c27baa
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #c27baa
}

.panel-primary .panel-title {
  font-weight: 300
}

.panel-primary .panel-title a:hover {
  color: #fff;
  text-decoration: none
}

a.badge:hover, a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
  color: #c27baa;
  background-color: #fff
}

.nav-pills>li>a>.badge {
  margin-left: 3px
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 *
 * http://geedmo.github.com/yamm3
 */

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
  position: static
}

.yamm .container {
  position: relative
}

.yamm .dropdown-menu {
  left: auto
}

.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0
}

.yamm .yamm-content {
  padding: 20px 30px
}

@media (max-width:767px) {
  .yamm .yamm-content {
    padding: 10px 20px
  }
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0
}

/* Furniture Card */
#furnitures > h2 {
  margin: 0 0 20px 25px;
  letter-spacing: 1px;
  color: #c27aaa;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards a:hover {
  text-decoration: none;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}


.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  padding: 8em;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__title {
    color: #444;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-family: Helvetica Neue;
}

.card__text {
    flex: 1 1 auto;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 100;
}

.card__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_to_cart {
    background: #bdc4c521;
    align-items: center;
    padding: 11px 0 0 10px;
    flex-grow: 1;
}

.add_to_favorite {
    background: #c27aaa;
    padding: 13px;
    color: #fff;
    justify-content: flex-end !important;
    font-size: 2.4em;
    align-items: flex-end !important;
}

.price {
  display: flex;
  flex-direction: column;
}

.old__price {
  text-decoration: line-through;
}
