@media only screen and (min-width: 320px) and (max-width: 767px) {
	.container {
        width: 300px;
    }
		.section_padding_100 {
        padding: 50px 0;
    }
    .section_padding_100_70 {
        padding: 50px 0 20px;
    }
    .section_padding_200 {
        padding: 100px 0;
    }
    .section_padding_200_170 {
        padding: 100px 0 70px;
    }
    .section_padding_50 {
        padding: 30px 0;
    }
    .section_padding_0_70 {
        padding: 0 0 20px;
    }
		.ts_product_compare,
    .ts_product_add_to_cart,
    .ts_product_quick_view,
    .ts_product_wishlist {
        display: inline-block;
    }
	.checkout_details_area .shipping_method .table,
		 .compare-list table,
		 .cart-table .table,
		 .bigshop-table {
				 display: block;
		 }
		 .checkout_pagination a {
        font-size: 14px;
        min-width: 110px;
    }
		.cart_area .update-checkout a,
    .cart_area .back-to-shop a {
        font-size: 10px;
        height: 40px;
        line-height: 40px;
        min-width: 100px;
        padding: 0 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 550px;
    }
}
