{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>4niture {% block title %} HomePage {% endblock title %}</title>
  {% block css %} {% include "includes/css.html" %} {% endblock css %}
</head>

<body>
  {% block navigation %} {% include "includes/navigation.html" %} {% endblock navigation %} {% block content %} {% endblock content %} {% block js %} {% include "includes/js.html" %}
  <script type="text/javascript">
  $(document).ready(function() {
    var productForm = $('.form-product-ajax');
    productForm.submit(function(e) {
      e.preventDefault();
      var thisForm = $(this);
      var endPoint = thisForm.attr('action');
      var httpMethod = thisForm.attr('method');
      var formData = thisForm.serialize();
      $.ajax({
        url: endPoint,
        method: httpMethod,
        data: formData,
        success: function(data) {
          var submitSpan = thisForm.find('.submit-span');
          if (data.added) {
            submitSpan.html(
              "<div class='btn-group'> <a class='btn btn-link' href='/carts/'>In cart</a> <button type='submit' class='btn btn-link'>Remove?</button></div>"
            );
          } else {
            submitSpan.html(
              "<button type='submit'  class='btn btn-success'>Add to cart</button>"
            );
          }
          var cartCount = $('.cart-quantity');
          cartCount.text(data.cartItemCount);
          var currentPath = window.location.href;
          if (currentPath.indexOf('carts') != -1) {
            refreshCart();
          }
        },
        error: function(error) {
          console.log('error', error);
        }
      });
    });

    function refreshCart() {
      var cartTable = $('.cart-table');
      var cartBody = cartTable.find('.cart-body');
      var productRows = cartBody.find('.cart-products');
      var currentUrl = window.location.href;
      var refreshCartUrl = '/carts/api/refresh';
      var refreshCartMethod = 'GET';
      var data = {};
      $.ajax({
        url: refreshCartUrl,
        method: refreshCartMethod,
        data: data,
        success: function(data) {
          var hiddenCartItemRemoveForm = $('.cart-item-remove-form');
          if (data.products.length > 0) {
            console.log('data', data);
            productRows.html(' ');
            $.each(data.products, function(index, value) {
              var newCartItemRemove = hiddenCartItemRemoveForm.clone();
              newCartItemRemove.css('display', 'block');
              newCartItemRemove.find('.cart-item-product-id').val(value.id);
              cartBody.prepend(
                `<tr>
                      <td>${newCartItemRemove.html()}</td>
                      <td class='cart_product_img'>
                        <img src=${
                          value.image ? value.image : '/static/img/4niture.jpg'
                        } class='img-responsive'/>
                      </td>
                      <td class='cart_product_desc'>
                        <h5>${value.name}</h5>
                      </td>
                      <td class='price'>${value.price}</td>
                      <td class='qty'>
                        <div class='quantity'>
                          <span class='qty-minus'>
                            <i class='ion-ios-minus-outline' aria-hidden='true'></i>
                          </span>
                          <input
                            type='number'
                            class='qty-text'
                            id='qty'
                            step='1'
                            min='1'
                            max='99'
                            name='quantity'
                            value=${value.quantity}>
                          <span class='qty-plus'>
                            <i class='ion-ios-plus-outline' aria-hidden='true'></i>
                          </span>
                        </div>
                      </td>
                      <td class='total_price'>
                        <span>${value.furniture_total_price}</span>
                      </td>
                      </tr>`
              );
            });
            cartTable.find('.cart-subtotal').text(data.subtotal);
            cartTable.find('.cart-total').text(data.total);
          } else {
            window.location.href = currentUrl;
          }
        },

        error: function(err) {
          console.log(err);
        }
      });
    }
  });
  </script>
  {% endblock js %}
</body>

</html>
