{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="hero-carousel-wrapper hero-area">
	<div id="owl-1" class="owl-carousel">
{% for slider in sliders %}
        <!-- Slide 1-->
        <div class="item slide{{ forloop.counter }}">
            <div class="item-img" style="background-image: url('{{ slider.image.url }}'); "></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-3 col-sm-12 col-sm-push-0 text-center">
                        <div class="header-text">
                            <h2 class="header-heading">{{slider.caption | safe}}</h2>
                            <h4 class="header-sub-title">{{slider.sub_caption}}</h4>
                            <a href="product-1.html" class="btn btn-lg">Explore  <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
</div>
</header>
<section id="promotions">
  <div class="container">
    {% for category in categories %}
    {% if forloop.first %}
    <div class="row">
      {% endif %}
      <div class="col-sm-4 col-xs-12">
          <figure class="wow fadeIn">
            {% if category.image %}
              <img class="img-responsive" src={{ category.image.url }} static 'img/4niture.jpg' %}>
              {% else %}
              <img class="img-responsive"  src={% static 'img/4niture.jpg' %} alt="">
              {% endif %}
              <figcaption class="content">
                  <h3 class="section-heading">{{ category.name }}</h3>
                  <p>Latest Interior Design Products</p>
                  <a href="#" class="btn btn-outline">Explore  <i class="fa fa-chevron-right"></i></a>
              </figcaption>
          </figure>
      </div>
    {% endfor %}
  </div>
</section>

      {% include 'furnitures/furnitures_home.html'%}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% include 'includes/footer.html' %}
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
{{ block.super }}
<script>
  $(document).ready(function(){
  		$('.quick-view-button').click(function() {
  			var _this = $(this);
  			var slug = _this.attr("data-slug");
  			console.log('slug', slug);
  			$.ajax({
  				url: '/ajax/furniture',
  				type: "get",
  				dataType: 'json',
  				data: {'slug': slug},
  				success: function(data) {
  					console.log('data', data);
  					$('#product-quick-view-modal').modal('show');
  					$('#product-quick-view-modal').find('.modal-body').html(data.product_snippet);;
  				},
  				error: function(err) {
  					console.log('error', err);
  				}
  			})
  		})
  });
</script>
{% endblock js %}
