#furnitures {
	padding: 8em 0;
}

.product {
	display: flex;
	/* whether flex items are forced into a single line or can be wrapped onto multiple lines */
	flex-wrap: wrap;
}

.product-card {
	flex: 1;
	/*initial main size of a flex item*/
	flex-basis: 16%;
	margin: 15px;
}

.product-card:hover{
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.25);
}

.product-image {

}

.product-image img{
	max-width: 100%;
	height: 220px;
}

.product-info {
	margin-top: 5px;
	text-align: center;
}

.add-to-cart {
	display: none;
}

.add-to-cart.show{
	display: block !important;
	margin: 10px;
}

@media (max-width: 920px) {
	.product-card {
		flex: 1 21%;
	}
	.product .product-card:first-child,
	.product .product-card:nth-child(2){
		flex: 2 46%;
	}
}

@media (max-width: 600px) {
	.product-card {
		flex: 1 46%;
	}
}
