<form action='{% if action_url %}{{ action_url }}{% else %}{% url "account_login" %}{% endif %}' method="post">
	{% csrf_token %}
	{% if next_url %}
	<input type='hidden' name='next' value='{{ next_url }}' />
	{% endif %}

	{% if address_type %}
	<input type='hidden' name='address_type' value='{{ address_type }}' />
	{% endif %}
	<div class="row">
		<div class="col-md-6 mb-3">
			<label for="id_nickname">Nickname</label>
			<input type="text" class="form-control" id="id_nickname" name="nickname" placeholder="Nickname" maxlength="120">
		</div>
		<div class="col-md-6 mb-3">
			<label for="id_name">Name</label>
			<input type="text" class="form-control" id="id_name" name="name" placeholder="Name" maxlength="120">
		</div>
		<div class="col-md-6 mb-3">
			<label for="id_address_line_1">Address Line 1</label>
			<input type="text" class="form-control" id="id_address_line_1" name="address_line_1" placeholder="Address Line 1">
		</div>
		<div class="col-md-6 mb-3">
			<label for="id_address_line_2">Address Line 2</label>
			<input type="text" class="form-control" id="id_address_line_2" name="address_line_2" placeholder="Address Line 2">
		</div>
		<div class="col-md-6 mb-3">
			<label for="id_city">City</label>
			<input type="text" class="form-control" id="id_city" name="city" placeholder="City">
		</div>
		<div class="col-md-6 mb-3">
			<label for="id_state">State</label>
			<input type="text" class="form-control" id="id_state" name="state" placeholder="State">
		</div>
		<div class="col-md-6 mb-3">
			<label for="id_postal_code">Postal Code</label>
			<input type="text" class="form-control" id="id_postal_code" name="postal_code" placeholder="Postal Code">
		</div>
	</div>
	<button type="submit" class="btn reg-log-btn">Submit</button>
</form>
