{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cart_area section_padding_100 clearfix">
<div class="container">
<div class="row">
{% if cart.furnitures.exists %}
	<div class="col-12">
			<div class="cart-table clearfix">
	      <table class="table table-responsive cart-table">
					<thead>
	          <tr>
	            <th><i class="ion-ios-trash" /></th>
	            <th>Image</th>
	            <th>Product</th>
	            <th>Price</th>
	            <th>Quantity</th>
	            <th>Total</th>
	          </tr>
	        </thead>
	        <tbody class="cart-body">
						{% for furniture in cart.furnitures.all %}
							<tr class="cart-products">
								<td class="action">
									{% include 'includes/carts/remove-furniture.html'  with furniture_id=furniture.id%}
								</td>
								<td class="cart_product_img">
									{% if furniture.first_image %}
									<a href="#">
										<img src="{{ furniture.first_image }}" alt="" class="img-responsive">
									</a>
									{% else %}
									<a href="#">
										<img src={% static 'img/4niture.jpg' %} alt="" class="img-responsive">
									</a>
									{% endif %}
								</td>
								<td class="cart_product_desc">
									<h5>{{ furniture.name }}</h5>
								</td>
								<td class="price">
									<span>Rs. {{ furniture.price }}</span>
								</td>
								<td class="qty">
									<div class="quantity">
										<span
											class="qty-minus"
											onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;">
											<i class="ion-ios-minus-outline" aria-hidden="true"></i>
										</span>
										<input
											type="number"
											class="qty-text"
											id="qty"
											step="1"
											min="1"
											max="99"
											name="quantity"
											value={{furniture.quantity}}>
										<span
											class="qty-plus"
											onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;">
											<i class="ion-ios-plus-outline" aria-hidden="true"></i>
										</span>
									</div>
								</td>
								<td class="total_price">
									<span>{{ furniture.furniture_total_price }}</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
				  <tr>
						<td colspan="2" rowspan="2"></td>
						<td colspan="3">Sub-Total</td>
						<td colspan="2"><span class="cart-subtotal">Rs. {{ cart.sub_total }}</span></td>
				  </tr>
				  <tr>
						<td colspan="3"><strong>Total</strong></td>
						<td colspan="2"><span class="cart-total"><strong>Rs. {{ cart.total }}</strong></span></td>
					</tr>
				</tfoot>
				</table>
				<div class='cart-item-remove-form' style='display:none'>
					{% include 'includes/carts/remove-furniture.html' %}
				</div>
			</div><!-- end of cart-table !-->
			<div class="cart-footer d-flex mt-30">
				<div class="back-to-shop w-50">
					<a href="{% url 'furnitures' %}"><i class="ion-ios-undo" aria-hidden="true"></i> Back to Shopping</a>
				</div>
				<div class="update-checkout w-50 text-right">
					{% if not request.user.is_authenticated %}
					<a href="" data-toggle="modal" data-target="#guestModal">Guest Checkout</a>
					<a href="" data-toggle="modal" data-target="#userModal">User Checkout</a>
					{% else %}
					<a href={% url 'checkout' %}>Checkout</a>
					{% endif %}
				</div>
			</div>
</div><!-- end of col12 !-->
{% else %}
	<div class="col-12">
		<p class="lead">Cart is Empty</p>
	</div>
{% endif %}
</div> <!-- end of row !-->
</div> <!-- end of container !-->
</div> <!-- end of cart area !-->

<div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title" id="guestModalLabel">Checkout as a Guest</h5>
      </div>
			<div class="modal-body">
				{% url "guest_register" as guest_register_url %}
				{% include 'accounts/includes/form.html' with form=guest_form next_url='/carts/checkout' action_url=guest_register_url %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Checkout as a Guest</h5>
      </div>
			<div class="modal-body">
				{% include 'account/snippets/login_form.html' with next_url='/carts/checkout'%}
			</div>
		</div>
	</div>
</div>

{% endblock %}
