{% extends 'base.html' %}
{% load account %}

{% block content %}
<div class="checkout_area section_padding_100">
	<div class="container">
		<div class="row">
{% if not billing_profile %}
	<h3>Login Handle</h3>
{% else %}
	{% if not order.shipping_address %}
	<div class="col-sm-12">
		<div class="checkout_steps_area">
			<a class="step completed" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Shipping</a>
			<a class="step" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Billing</a>
			<a class="step" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Review</a>
		</div>
		</div>
	 <div class="col-sm-12 col-md-6">
		 <div class="checkout_details_area checkout-1 mt-50 clearfix">
			 <h5>Shipping Address</h5>
			 {% url "checkout_address" as checkout_address %}
			 {% include 'carts/checkout/shipping.html' with next_url=request.build_absolute_uri action_url=checkout_address address_type='shipping' %}
				<!-- {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address address_type='shipping' %}' -->
		</div>
		 {% elif not order.billing_address %}
		 <div class="col-sm-12">
				<div class="checkout_steps_area">
					<a class="step" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Shipping</a>
					<a class="step completed" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Billing</a>
					<a class="step" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Review</a>
				</div>
				</div>
		 <div class="col-sm-12 col-md-6">
			 <div class="checkout_details_area checkout-1 mt-50 clearfix">
				 <h5>Billing Address</h5>
				 {% url "checkout_address" as checkout_address %}
				 {% include 'carts/checkout/billing.html' with next_url=request.build_absolute_uri action_url=checkout_address address_type='billing' %}
				<!-- {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address address_type='billing' %}' -->
			</div>
			</div>
		{% else %}
		<div class="col-sm-12">
			<div class="checkout_steps_area">
				<a class="step" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Shipping</a>
				<a class="step" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Billing</a>
				<a class="step completed" href="{% url 'checkout' %}"><i class="pe-7s-check"></i> Review</a>
			</div>
		</div>
		  <h2>Checkout</h2>
		  <p>Cart Total: {{ order.cart.total }}</p>
		  <p>Shipping Total: {{ order.shipping_total }}</p>
		  <p>Order Total: {{ order.total }}</p>
		{% endif %}
	{% endif %}
</div>
</div>
</div>
{% endblock content %}
