{% extends 'base.html' %}

{% block content %}
<div class="checkout_area section_padding_100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="order_complated_area clearfix">
					<h5>Thank You For Your Order.</h5>
					<p>You will receive an email of your order details</p>
					<p class="orderid">Your Order id #2258396</p>
				</div>
			</div>
			<div class="col-12">
			<div class="checkout_pagination mt-50">
				<a href="">Go Back Shop</a>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
