{% load mptt_tags %}
<div class="panel panel-default sidebar-menu">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked category-menu">
      {% recursetree nodes %}
      <li class="node">
        <a
          href="/category/{{ node.get_absolute_url }}"
          class="
              {% if node.is_root_node %}
              root
              {% elif node.is_child_node and not node.is_leaf_node or node.is_second_node%}
              child
              {% elif node.is_leaf_node and not node.is_root_node%}
              leaf
              {%endif%}">
          {{ node.name }}
          {% if node.is_root_node %}
            <span class="badge">{{ node.get_count_children }}</span>
          {% endif %}
        </a>
        {% if not node.is_leaf_node %}
          <ul class="children">
            <li>{{ children }}</li>
          </ul>
        {% endif %}
      </li>
      {% endrecursetree %}
    </ul>
  </div>
</div>
